.film_page_wrapper {
  background-color: #3d3d39;
  box-shadow: inset 0px 0px 13px 8px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

.sxsw {
  background: url(http://i.imgur.com/DYuef7B.png);
  background-size: cover; 
  width: 50%;
  height: 26.6vh;
}

div.sxsw a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

.dp_reel {
  background: url(http://i.imgur.com/ls0oqmp.png);
  background-size: cover;
  width: 50%;
  height: 26.6vh;
}

div.dp_reel a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

.euphonia {
  background: url(http://i.imgur.com/pb8whla.png);
  background-size: cover;
  width: 50%;
  height: 26.6vh;
}

div.euphonia a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

.confusion {
  background: url(http://i.imgur.com/BSZm0oF.png);
  background-size: cover;
  width: 50%;
  height: 26.6vh;
}

div.confusion a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

.notes_on_bio {
  background: url(http://i.imgur.com/YKNA15O.png);
  background-size: cover;
  width: 50%;
  height: 26.6vh;
}

div.notes_on_bio a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

.the_flamingo {
  background: url(http://i.imgur.com/7T1GBcC.png);
  background-size: cover;
  width: 50%;
  height: 26.6vh;
}

div.the_flamingo a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}

