

// ------------- FOR MOBILE START ---------------

@media only screen and (max-width: 500px) {

    .heading_wrapper {
      width: 100vw;
      display: flex;
    }

    .menu_wrapper1 {
      display: flex;
      margin: auto;
      flex-direction: row;
    }

    .menu_wrapper2 {
      align-items: center;
      flex-direction: column;
      display: flex; 
    }

    .aboutme_title {
      background: url(http://i.imgur.com/R7iRXEW.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 85px;
      height: 25px;
      margin-left: 3vw;
      margin-top: 5px;
    }

    .resume_title {
      background: url(http://i.imgur.com/cKCeOBh.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 85px;
      height: 25px;
      margin-left: 3vw;
      margin-top: 9px;
    }

    .projects_title {
      background: url(http://i.imgur.com/4oVs157.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
      width: 85px;
      height: 35px;
      margin-left: 3vw;
    }

    .film_video_title {
      background: url(http://i.imgur.com/FxIfxcT.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 115px;
      height: 25px;
      margin-left: 3vw;
      margin-bottom: 5px;
    }


}

// ------------- FOR MOBILE END ---------------






// -------------- START MENU SECTION -----------------

@media only screen and (min-width: 501px) {


// ------------ FOR DESKTOP START -----------


.heading_wrapper {
  width: 100vw;
  height: 100px;
  display: flex;
}

// -------------- START LOGO SECTION -----------------

.heading_logo {
  background: url(http://i.imgur.com/AQbOqlS.png);
  background-size: cover;
  width: 50px;
  height: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

// -------------- END LOGO SECTION -----------------



.menu_wrapper1 {
	 display: flex;
  	margin: auto;
  	flex-direction: row;
}

.menu_wrapper2 {
	align-items: center;
	flex-direction: row;
	display: flex; 
}

.logo_wrapper {
	// display: flex;
}

.heading_logo {
	justify-content: flex-start;
}

.squig_left {
    background: url(http://i.imgur.com/0CaH4Rl.png);
    background-size: 100% 100%;
    width: 20px;
    height: 60px;
}

.aboutme_title {
	background: url(http://i.imgur.com/R7iRXEW.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 130px;
    height: 40px;
    margin-left: 15px;
}

.aboutme_title:hover {
	opacity: .7;
	transition: .3s;
	cursor: pointer;
}

.resume_title {
	background: url(http://i.imgur.com/cKCeOBh.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 110px;
    height: 40px;
    margin-left: 25px;
}

.resume_title:hover {
    opacity: .7;
	transition: .3s;
	cursor: pointer;
}

.projects_title {
	background: url(http://i.imgur.com/4oVs157.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 15px;
    width: 110px;
    height: 50px;
    margin-left: 25px;
}

.projects_title:hover {
    opacity: .7;
	transition: .3s;
	cursor: pointer;
}

.film_video_title {
	background: url(http://i.imgur.com/FxIfxcT.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 160px;
    height: 40px;
    margin-left: 25px;
}

.film_video_title:hover {
    opacity: .7;
	transition: .3s;
	cursor: pointer;
}

.squig_right {
	background: url(http://i.imgur.com/ewLmcOq.png);
    background-size: 100% 100%;
    width: 20px;
    height: 60px;
    margin-left: 10px;
}
}

// -------------- END MENU SECTION -----------------

// ------------ FOR DESKTOP END -----------
